@media screen and (max-height: 5000px){
    :root {
        --fs-xs-: .9rem
        --fs-sm-: 1.1rem;
        --fs-md-: 1.3rem;
        --fs-lg-: 1.6rem;
        --fs-xl-: 1.9rem;
    }
}

@media screen and (max-height: 850px){
    :root {
        --fs-xs-: .8rem
        --fs-sm-: 1rem;
        --fs-md-: 1.2rem;
        --fs-lg-: 1.5rem;
        --fs-xl-: 1.8rem;
    }
}

@media screen and (max-height: 550px){
    :root {
        --fs-xs-: .7rem
        --fs-sm-: 1rem;
        --fs-md-: 1.1rem;
        --fs-lg-: 1.4rem;
        --fs-xl-: 1.7rem;
    }
}

* {
    box-sizing: border-box;
}

header {
    background-image: url(photos/background-img.jpg);
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
}

body {
    /* background-image: url(photos/background-img.jpg); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    font-family: 'Signika Negative';
    background-color: #473416;
    color: #473416;
}

.btn {
    background-color: #d6b5816d;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    bottom: 22px;
    margin-left: -40px;
    overflow: hidden;
    z-index:1;
    transition: all 350ms ease;
    border-color: #473416;
    color: #473416;
    font-weight: 600;
}

button::before {
    content: '';
    position: absolute;
    background-color: #473416;
    width: 100%; 
    height: 100%;
    top: 40px; 
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all 250ms ease;
}

button:hover {
    background-color: transparent;
    color:rgb(245, 245, 228)
}

button:hover::before {
    top: 0;
}

.hidden {
    display: none !important;
}

.quiz-wrap {
    background-color: rgb(245, 245, 228);
    width: 50%;
    max-width: 500px;
    height: 450px;
    text-align: center;
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.quiz-wrap span{
    font-weight: 700;
    display: block;
    font-size: var(--fs-lg-);
}

.quiz-wrap h2 {
    margin-bottom: 20px;
    font-size: var(--fs-md-);
}

.quiz-wrap h3 {
    font-size: var(--fs-xs-);
    margin-bottom: 20px;
}

.quiz-wrap section {
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.quiz-wrap .opt {
    border: 2px solid #473416;
    width: 100%;
    padding: 10px 10px;
    text-align: left;
}

.opt {
    cursor: pointer;
}

.opt:hover {
    border: 3px solid #473416
}

.opt span {
    display: inline-block;
    margin-left: 15px;
    font-weight: 400;
}

span.score {
    display: inline;
    margin-left: 5px;
}

.question-tab.answered .opt.answer-container {
    border: 3px solid rgb(12, 222, 12);
    color: rgb(12, 222, 12);
}

.wrong {
    border: 3px solid red !important;
    color: red;
}




@media screen and (max-width: 850px){
    body {
        padding-top: 10%;
    }

    .quiz-wrap {
        width: 75%;
        max-width: 700px;
    }
}

@media screen and (max-width: 550px){
    body {
        padding-top: 30%;
    }

    .quiz-wrap {
        width: 85%;
        max-width: 700px;
    }
}

